*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Raleway,Arial,sans-serif;
}

body{
    font-family: Raleway,Arial,sans-serif;
}

a{
    list-style: none;
    color:#000;
    text-decoration: none;
}
p{
    line-height: 1.4;
}
.p-1{
   padding: 15px; 
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 30px;
}

.pr-1{
    padding-right: 15px;
}
.pr-2{
    padding-right: 20px;
}
.pr-3{
    padding-right: 30px;
}

.pl-1{
    padding-left: 15px;
}
.pl-2{
    padding-left: 20px;
}
.pl-3{
    padding-left: 30px;
}

.py-1{
    padding: 15px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}

.l-heading{
    font-size: 1.25em;
}
.m-heading{
    font-size: 0.9em;
}
.s-heading{
    font-size: 15px;
}
.bold{
    font-weight: bolder;
}
.color-green{
    color: #009688;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.rounded-border{
    border-radius: 4px;
}

.col-33{
    width:32%;
}
.f-hover:hover{
/*    background:  rgba(0,0,0,0.2);*/
    opacity: 0.5;
}
.rev-hover:hover{
   
}
/*LEFT SLIDER*/

@keyframes side-bar-animation{
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}

.left-slider{
    width:22%;
    position: fixed;
    animation: side-bar-animation 0.4s linear;
    z-index: 9999;
}

.color-grey{
    color: #9E9E9E;
}
.left-slider-li {
    padding: 10px 15px;
   
}
.left-slider-li:hover {
    background: #CCC;
   
}
.social-media{
    display: inline-block;
    font-size: 18px;
}
.port:hover{
    color: #000;
}



/*LEFT SLIDER*/


/*RIGHT SLIDER*/

.right-slider{
    width: 78%;
    background: #F1F1F1;
}
h1{
    font-size: 35px;
    padding: 5px 0 20px;
}
.subheading{
    display: inline-block;
    padding: 15px 0;
/*    border-bottom: 6px solid #ccc;*/
}
.subheading .all{
    background: #000;
    color:#fff;
}
.filters{
    display: inline-block;
    background: #fff;
    padding:10px 15px;
}
.filters:hover{
    background: #ccc;
    color:#000;    
}
.filter{
    display: inline;
    padding-left: 0;
}

.bg-white{
    background: #fff;
}
.margin-right{
    margin-right: 2%;
    margin-bottom: 2%;
}

/*ROW 1*/

.row-1{
    padding-top: 15px;
    border-top:6px solid #ccc;
}
.para{
    padding-top: 0;
}

/*/ROW 1*/

/*PAGES*/

.section-pages .pages{
    text-align: center;
    height: 110px;
    padding: 20px 0;
/*    line-height: 80px;*/
    
}

.pages-li{
    display: inline-block;
    padding: 10px 15px;
    
}
.section-pages .pages .black-bg {
    background: #000;
    margin: 0;
}
.section-pages .pages .black-bg a{
    color: #fff;
    margin: 0;
}
.section-pages .pages .black-bg:hover{
    background: #ccc;
    margin: 0;
}
.section-pages .pages .pages-li:hover{
     color:#fff;
   background: #000;
   
}

.pages-li :hover{
   color:#fff;
}
/*/PAGES*/

/*ABOUT ME*/
.about-me{
    padding-left: 5px;
}
/*/ABOUT ME*/

/*TECHNICAL*/

.div-tech{
    padding-top: 40px;
}

.technical
    padding:20px 0 15px;
}

.technical tech-skill{
    padding-left: 5px;
}

.grey-bg{
    background: #9E9E9E;
/*    padding: 8px 0;*/
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
@keyframes progress-bar-95-animation{
/*
    from{
        left: -95%;
    }to{
        left: 0;
    }
*/
    from{
        width: 0;
    }to{
        width: 85%;
    }
}

@keyframes progress-bar-85-animation{
    from{
        width: 0;
    }to{
        width: 85%;
    }
}

@keyframes progress-bar-80-animation{
    from{
        width: 0;
    }to{
        width: 80%;
    }
}

.bar-95{
    width:95%;
    background: #616161;
    padding:8px 0;
    animation: progress-bar-95-animation 3s linear; 
}
.bar-85{
    width:85%;
    background: #616161;
    padding:8px 0;
    animation: progress-bar-85-animation 3s linear; 
}
.bar-80{
    width:80%;
    background: #616161;
    padding:8px 0;
    animation: progress-bar-80-animation 3s linear; 
}

.resume{
/*    padding: 15px;*/
    margin-top: 30px;
    width:215px;
    height: 45px;
    box-sizing: border-box;
    color: #fff;
    background: #616161;
    line-height: 45px;
    font-size: 16px;
    border: none;
}
.resume:hover{
    background: #CCC;
    color: #000;
}
/*/TECHNICAL*/

/*HOW MUCH I CHARGE*/

.how-much-i-charge{
    padding-bottom: 40px;
}
.how-much{
    padding-bottom: 20px;
    padding-top: 60px;
}
.charges{
    height: 540px;
/*    margin-bottom: 50px;*/
/*    border: 0.1px solid #ccc;*/
}

.charge-header{
    height: 100px;
    background: #606060;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
   
}
.charge-li{
    height:55px;
    background: #F9F9F9;
    line-height: 55px;
    text-align: center;
    border-bottom: 0.1px solid #ccc;
    border-left: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    color: #999;
    font-size: 15px;
}
.charge{
    height: 120px;
    font-size: 30px;
    color: #666;
    text-align: center;
    background:  #F9F9F9;
    padding-top: 25px;
    border-bottom: 0.1px solid #ccc;
    border-left: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    box-sizing: border-box;
/*    line-height: 120px;*/
}

.small{
    color: #ccc;
    font-size: 15px;
    display: block;
    text-align: center;
    padding-top: 25px;
/*    line-height: 120px;*/
}
.sign-up{
    height: 95px;
    border-bottom: 0.1px solid #ccc;
    border-left: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    line-height: 95px;
    text-align: center;
    box-sizing: border-box;
/*    margin-bottom: 100px;*/
/*    background: #757575;*/
/*    padding: 10px 15px;*/
/*    background: black;*/
}
.sign-up a{
    padding: 15px 25px;
    background: #60BAB1;
    color: #fff;
    font-size: 15px;
}
.sign-up a:hover{
    background: #000;
}
.green{
    background: #60BAB1;
}

/*/TECHNICAL*/

/*CONTACT ME*/
.contact{
    background: #9E9E9E;
    padding: 2%;
    width: 100%;
}
.contact-me{
    padding-bottom: 35px;
}
.contact-div{
    height:105px;
    background: #616161;
    color: #fff;
    text-align: center;
/*    padding-top: 15px;*/
}
.contact .green{
    background: #009688;
}
.col-contact{
    width: 33.33%;
}
.col-contact .place{
    display: block;
}
.col-contact last:hover{
    background: #9E9E9E;
}

.contact-div .icon-contact{
    display: block;
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box{
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.label{
    padding-top: 15px;
}

.input-field{
    padding: 10px;
    width: 100%;
}

.btn{
    margin-top: 15px;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border: none;
}
.btn:hover{
    background: #CCC;
    color: #000;
}
.plane{
    margin-right: 10px;
}
/*/CONTACT ME*/


/*BLOG*/
.blog{
   background: #616161;
    color: #fff;
     padding:40px 30px;
}
.blog a,.footer a{
    color: #fff;
    text-decoration: underline;
}
.head{
    font-size:24px;
    padding-bottom: 20px;
}
.powered{
   padding-top: 20px;
}
.blog-part ul li{
    display: inline-block;
    
}
.blog-part ul{
    padding: 10px;
    
}
.border{
    border-bottom: solid 1px #fff;
}
.tags li{
    padding: 2px 5px;
    background: #9E9E9E;
    display: inline-block;
    font-size: 12px;
    color: #000;
    margin: 10px 0;
}
.blog-post{
    display: block;
}
/*BLOG*/

/*FOOTER*/
.footer{
    background: #000;
    color:#fff;
}
.footer p{
    text-align: center;
    padding: 30px 0;
}
.footer a:hover{
    color:#aaa;
}
/*FOOTER*/